.scroll-container {
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dots-navigation {
    position: fixed;
    left: 50%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    transform: translateY(-24px);
    z-index: 999;
  }
}

@media (min-width: 769px) {
  .dots-navigation {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 999;
  }
}

.dot {
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.dot.active {
  background-color: black;
  border-color: black;
}