html,
body {
  height: 100%;
  background-color: #282c34;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > *{
  margin: 0 10vw;
}

.contact {
  color: white;
}

text {
  color: whitesmoke;
}

.header-content {
  padding: 1vw;
}

.Main-content {
  background-color: yellowgreen;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Bottom-bar {
  padding: 2vw;
  background-color: purple;
}

.Horizontal-scroll-content {
  width: 80vw;
  /* height: 100vh; */
  background-color: gray;
}

/* Expand main content to fill the page */
.Horizontal-scroll {
  display: flex;
  min-height: 100;
}

.react-horizontal-scrolling-menu--wrapper, .react-horizontal-scrolling-menu--inner-wrapper, .react-horizontal-scrolling-menu--scroll-container, .react-horizontal-scrolling-menu--item, .Horizontal-scroll-content {
  flex-grow: 1;
  display: flex;
}

.react-horizontal-scrolling-menu--scroll-container {
  height: auto;
}

/* Hide bottom scroll bar */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
